body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #d85926;
}

.bar {
  padding-top: 1rem;
  background-color: #070d22;
  color: #d85926;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bar h1,
.bar h3 {
  margin-left: 2rem;
}

.intro {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("images/scene1.jpg");
  background-position: center;
  background-repeat: none;
}

.intro img {
  width: 15rem;
  display: block;
  margin: auto;
  margin-top: 5rem;
}

.intro h1 {
  color: #d85926;
  font-size: 2rem;
  margin-top: 10rem;
  padding: 2rem;
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
  text-align: center;
}
h1 {
  color: yellow;
}
ul {
  list-style: none;
  margin: 0;
}

li {
  color: #d85926;
  padding: 0.5rem 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
}

.summary,
.testimonial,
.photos,
.meetup {
  margin: 4em auto;
  text-align: center;
}

.summary {
  padding: 0 1rem;
}

.summary p {
  color: White;
  margin: 0 150px;
}

.testimonial {
  background-image: url("images/scene4.jpg");
  height: 20rem;
  padding: 0 1rem;
  padding-top: 1rem;
  color: yellow;
}

.scenes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.scenes img {
  max-width: 300px;
}

.testimonial h1 {
  font-size: 2.5rem;
  color: yellow;
}

.summary h2 {
  color: yellow;
}

.photos img {
  width: 30%;
  margin: 1.5%;
}

.meetup {
  background-image: url("images/scene1.jpg");
  margin-bottom: 2rem;
}

.meetup img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.meetup h1 {
  color: yellow;
  text-align: center;
}
.contact {
  text-align: center;
}

@media only screen and (max-width: 1048px) {
  .photos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 640px) {
  .intro h1 {
    margin-top: 2rem;
  }

  .intro {
    max-height: 200px;
  }

  .photos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .testimonial h1 {
    font-size: 2rem;
  }

  .photos img {
    width: 100%;
  }
}
